<div class="add-objective">
  <%= link_to 'Ajouter un objectif', new_objective_path, class: "btn btn-objective" %>
</div>

<h1 class="text-center mt-3">Liste des objectifs</h1>
<br>

<div class="objective-list d-flex flex-wrap justify-content-center gap-3 mt-2">
  <% @objectives.each do |objective| %>
    <% card_class = case objective.description
      when "Je souhaite suivre un programme adapté pour favoriser ma perte de poids."
        ["card card-loss", "fa-solid fa-weight-scale"]
      when "Mon objectif principal en ce moment est la prise de masse musculaire."
        ["card card-gain", "fa-solid fa-dumbbell"]
      when "Étant végétarien, je recherche des repas équilibrés sans viande ni poisson."
        ["card card-veg", "fa-solid fa-carrot"]
      when "Mon alimentation est entièrement vegan, je ne consomme donc aucun produit d'origine animale."
        ["card card-vegan", "fa-solid fa-leaf"]
      when "Un planning de repas hebdomadaire m'aiderait à mieux organiser mon alimentation."
        ["card card-planning", "fa-solid fa-calendar"]
      when "Je me considère flexitarien, car je limite la viande mais j'en consomme encore occasionnellement."
        ["card card-flexi", "fa-solid fa-drumstick-bite"]
      else
        "card"
    end %>

    <div class="position-relative" style="width: 18rem; min-height: 200px;">
      <%= link_to chat_path(objective.chats.last), class: card_class do %>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title"><%= objective.chats.last.name %></h5>
          <p class="card-text"><%= objective.description %></p>
        </div>
      <% end %>

      <%= button_to objective_path(objective),

          method: :delete,
          class: "btn btn-sm delete-btn",
          data: { confirm: "Supprimer cet objectif ?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>
