
  <div class="row nav-top" data-controller="toggle">

    <nav class="d-none col-md-2 sidebar" data-toggle-target="hideable">
      <%= render "shared/sidenav", chats: @chats, objective: @objective %>
    <nav class="col-md-2 sidebar" data-toggle-target="hideable">
      <%= render "shared/sidenav", chats: @chats, objective: @objective, new_chat: @new_chat %>

    </nav>
    <%= link_to "#", class: "nav-link text-dark m-4",
        data: {action: "click->toggle#call", toggle_target: "show"} do %>
          <ul class="position-sticky sticky-top nav flex-column">
            <li class="nav-item">
              <i class="fas fa-bars"></i>
            </li>
          </ul>
        <% end %>

  </div>

<div class="chat-container">
  <div class="messages-container">
    <% @chat.messages.each do |message| %>
      <div class="message <%= message.role.downcase %>">
        <div class="message-avatar">
          <% if message.role == "user" %>
            👤
          <% else %>
            🤖
          <% end %>
        </div>
        <div class="message-content">
          <% if message.role == "user" %>
            <div class="message-role"><%= message.chat.objective.user.name %></div>
          <% else %>
            <div class="message-role"><%= message.role %></div>
          <% end %>
          <div class="message-text">
            <%= raw(render_markdown(message.content)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="chat-input-container">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content,
                  placeholder: "Posez votre question...",
                  required: true,
                  label: false,
                  input_html: { class: "chat-input", rows: 3 } %>
      <%= f.button :submit, 'Envoyer', class: 'chat-submit-btn mb-3'%>
    <% end %>
  </div>
</div>
