<div class="profile-container max-w-lg mx-auto mt-10 p-6 bg-white rounded-2xl shadow-lg}">
  <h1 class ="text-center ">Mon Profil </h1>

  <div class="profile-card space-y-2 text-gray-700 ">
  <br>
  <h2>Mes informations personelle </h2>
  <br>
    <div class="card-body text-center">
      <h4 class="card-title mb-3">Mes informations personnelles</h4>
      <ul class="list-group list-group-flush text-start">
        <li class="list-group-item"><strong>Nom :</strong> <%= @user.name %></li>
        <li class="list-group-item"><strong>Email :</strong> <%= @user.email %></li>
        <li class="list-group-item"><strong>Âge :</strong> <%= @user.age %> ans</li>
        <li class="list-group-item"><strong>Taille :</strong> <%= @user.height %> cm</li>
        <li class="list-group-item"><strong>Poids :</strong> <%= @user.weight %> kg</li>
        <%# <li class="list-group-item"><strong>Sport :</strong> <%= @user.goal %></li>
      </ul>
    </div>
  <div class="actions">

  </div>
</div>

